body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ecf2f8;
    font-size: 13px;
    color: #ffffff;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
main{
    padding: 5% 3%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
#testimonial_1 {
    position: relative;
    z-index: 0;
    background-color: #7541c8;
}
#testimonial_2 {
    background-color: #48556a;
}
#testimonial_3, #testimonial_5 {
    background-color: #ffffff;
    color:  #48556a;
}
#testimonial_4 {
    background-color: #19212e;
}
.grid_item {
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 20px;
    height: auto;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}
h2{
    font-size: 1.2rem;
    z-index: 3;
    position: relative;
}
.header{
    display: flex;
    z-index: 3;
    position: relative;
}
h3{
    margin-bottom: 2px;
    margin-top: 6px;
}
.header-para{
    margin: 0;
    opacity: 50%;
}
.header img{
    border-radius: 50%;
    border: 2px #9460e8 solid;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
#quote {
    position: absolute;
    right: 15%;
    top: 0;
    z-index: 1;
    /* opacity: 80%; */
}
p {
    opacity: 70%;
}

@media  (min-width :576px) {
  main{ 
    max-width: 1440px;
    width: 80%;
    display: flex;
    margin: 0 auto;
    
  }
  .grid_item {
    margin-left: 15px;
  }
  #top, #bottom{
    display: flex;
  }
  #testimonial_2, #testimonial_3{
    flex-basis: 30%;
  }
  #testimonial_1, #testimonial_4 {
    flex-basis: 70%;
  }
  #testimonial_5 {
    flex-basis: 25%;  
  }
  #main-left{
    flex-basis: 75%;
  }
}